html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	box-sizing: border-box;
	font: normal 14px "PT Sans";
	color: white;
	background: black;
}

body {
	overflow: hidden;
	padding: 0 20px;
	transition-property: background;
	transition-timing-function: ease;
	background: black;
}

#id {
	display: none;
	z-index: 2;
	position: fixed;
	right: 10px;
	top: 10px;
	padding: 10px;
	background: red;
	color: black;
}

h1 {
	margin: 0;
}

.logo {
	z-index: 2;
	position: fixed;
	left: 34px;
	bottom: 28px;
}

#circle {
	z-index: 1;
	position: fixed;
	left: 50%;
	top: 50%;
	width: 642px;
	height: 642px;
	margin-left: -321px;
	margin-top: -321px;
}

#fullscreen {
	z-index: 2;
	position: fixed;
	left: 50%;
	top: 50%;
	height: 70px;
	width: 300px;
	margin-left: -150px;
	margin-top: -35px;
	font: bold 24px/70px Arial, sans-serif;
	border: none;
	background: #fff600;
	color: black;
}

#waiting {
	z-index: 2;
	position: fixed;
	left: 50%;
	top: 50%;
	width: 80%;
	height: 70px;
	margin-left: -40%;
	margin-top: -35px;
	font: bold 24px/30px Arial, sans-serif;
	text-align: center;
}

#link {
	position: fixed;
	z-index: 2;
	font: normal 40px Courier, monospace;
	width: 100%;
	height: 40px;
	left: 0;
	top: 70%;
	margin-top: -20px;
	text-align: center;
}

#link span {
	border-bottom: 1px solid;
}

#qr {
	z-index: 2;
	position: fixed;
	width: 270px;
	height: 270px;
	left: 50%;
	top: 20%;
	margin-left: -135px;
}